langchain-community>=0.3.20
langchain-experimental>=0.3.4
langchain-openai>=0.3.9
langgraph>=0.3.18
langgraph-checkpoint-sqlite>=2.0.6
langsmith>=0.3.18
python-dotenv>=1.0.1
requests>=2.32.3
basicauth==1.0.0
langchain_huggingface
Flask-BasicAuth==0.2.0
flask==3.0.0
langchain-core==0.3.72
langchain-ollama==0.3.6
ollama==0.5.1
